.DS_Store
fig/.DS_Store
kiko-scripts/
notes.md
altera/data/
altera/__pycache__
altera/settings.ini
*.aux
*.log
*.maf 
*.mtc 
*.mtc0
*.synctex.*
*.synctex(busy)
*.toc
.venv 
data
67c638e36937292979389fb2